@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* SCSS RGB */
html {
  --green-blue: #2364aaff;
  --picton-blue: #3da5d9ff;
  --verdigris: #73bfb8ff;
  --mikado-yellow: #fec601ff;
  --pumpkin: #ea7317ff;
  --yinmn-blue: rgba(53, 80, 112, 1);
  --chinese-violet: rgba(109, 89, 122, 1);
  --china-rose: rgba(181, 101, 118, 1);
  --light-coral: rgba(229, 107, 111, 1);
  --buff: rgba(234, 172, 139, 1);
  @apply bg-Background-500;
}

.bg-pattern {
  --s: 131px; /* control the size*/
  --c1: #1c2130;
  --c2: #aaf7c3;

  --_c: 5%, #0000 75%, var(--c1) 0;
  --_g: /var(--s) var(--s) conic-gradient(at var(--_c));
  --_l: /var(--s) var(--s) conic-gradient(at 50% var(--_c));
  background: 0 calc(7 * var(--s) / 10) var(--_l),
    calc(var(--s) / 2) calc(var(--s) / 5) var(--_l),
    calc(var(--s) / 5) 0 var(--_g),
    calc(7 * var(--s) / 10) calc(var(--s) / 2) var(--_g),
    conic-gradient(at 90% 90%, var(--c1) 75%, var(--c2) 0) 0 0 /
      calc(var(--s) / 2) calc(var(--s) / 2);
      
}

.text-anime {
  animation: radiate 20s ease-in-out infinite forwards;
}
/* .tech-scroll::-webkit-scrollbar{
  display: none;
} */

@keyframes radiate {
  50% {
    filter: hue-rotate(350deg);
  }
}
.contact {
  background-image: url("bg3.jpg");
  background-size: contain;
}
.bg-card {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100%;
}
.bg-box {
  animation: glow 2s linear forwards both;
}
.blob {
  /* clip-path: path('M41.8,-10.7C49.5,10.1,47.9,36.9,31.2,50.9C14.5,64.9,-17.3,66.2,-37.1,51.6C-57,37,-65.1,6.6,-56.9,-14.8C-48.8,-36.2,-24.4,-48.6,-3.7,-47.5C17.1,-46.3,34.1,-31.5,41.8,-10.7Z'); */
  animation: rotate 20s infinite;
  /* transform:"translate(100 100)"; */
}
@keyframes glow {
}
.hero_gradient {
  background-image: repeating-linear-gradient(
      90deg,
      transparent 4px,
      rgba(0, 0, 0, 0.8) 40px,
      transparent 50px
    ),
    repeating-linear-gradient(
      0deg,
      transparent 4px,
      rgba(0, 0, 0, 0.8) 40px,
      transparent 50px
    );
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1.5;
  }

  to {
    rotate: 360deg;
  }
}
.tech-scroll::-webkit-scrollbar {
  background-color: rgba(103, 99, 99, 0.8);
  border-radius: 10px;
}

.tech-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 600px) {
  .tech-scroll::-webkit-scrollbar {
    display: none;
  }
}
