@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(194 65 12);
}

.tech_card {
    @apply w-[150px] h-[200px] md:w-44 md:h-48 border border-black hover:scale-105 transition grid place-content-center rounded text-center;
}
.contact{
    background-image: url("bg2.jpg");
    background-size: cover;
}